/*-------------------------------------------------
GLOBALS CLASSES 
-------------------------------------------------*/
*{padding:0; margin:0;}
body{font-family: 'Lato', sans-serif; font-size:13px; color:#7c7c7c; background: url(../images/bg4.jpg) repeat;}
img{border:none;}
h1{ font-size:26px; color:#fff; font-family: 'Economica', sans-serif; font-weight:normal; text-transform:uppercase;}
h2{ font-family: 'Economica', sans-serif; font-size:19px; color:#d1869b; font-weight:normal;  text-transform:uppercase;}
P{ line-height:20px;}
a{text-decoration:none; color:#858585;}
a:hover{color:#d1869b;}
/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/
.mar-top30{margin-top:30px;}
.mar-top60{margin-top:60px;}
.mar-right40{margin-right:40px;}
.mar-right50{margin-right:50px;}
.mar-bottom20{margin-bottom:20px;}
.padding-top40{ padding-top:40px;}
.float-left{ float:left;}
.float-right{ float:right;}
.clearing { clear:both;}
.panelll{height: 320px;}
.panel{height: 249px;}
.title{}
.content{}
.button{ margin-top:15px;}
.button a{text-decoration:none; display:block; width:90px; height:30px; background:#d1869b; color:#ffffff; font-family: 'Economica', sans-serif; font-size:17px; line-height:30px; text-align:center; text-transform:uppercase; border:#d8d3d5 solid 1px;}
.button a:hover{ background:#3d232f; color:#d1869b;}

.container5{ width:888px; margin:0 auto;padding:0px 60px 0px 60px; background:url(../images/bg3.jpg)}
.container3{ width:888px; margin:0 auto;padding:40px 60px 0px 60px; background:url(../images/bg2.jpg);  }
.container2{ width:888px; margin:0 auto;padding:0px 60px 0px 60px; background-color: #FCBCBC ;}
.wrap5{ background:url(../images/bg1.jpg);margin:0 auto;}
.wrap2{overflow:hidden; background:url(../images/bg1.jpg); }
.wrap3{overflow:hidden; background:url(../images/bg1.jpg);}
.container{ width:888px; margin:0 auto;padding:40px 60px 0px 60px; background:url(../images/bg4.jpg)}
.page-content .content p{ padding-bottom:20px;}
/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
.header{ width:880px; height:auto; margin:0 auto; padding-top:70px;}
.logo{ float:left;}
.logo h1{ font-size:42px; color:#533c47;}

.menu{ float:right; margin-bottom:15px;}
/*.menu ul li{ float:left; list-style:none; padding-right:10px; }
.menu ul li a{font-family: 'Economica', sans-serif; font-size:18px; color:#533c47; display:block; text-align:center; padding:8px 24px 8px 24px; text-transform:uppercase;}
.menu ul li a:hover{background:#d1869b; border:#fff solid 1px;  padding:7px 23px 7px 23px; color:#fff;}
.menu ul li a.active{background:#d1869b; border:#fff solid 1px; padding:7px 23px 7px 23px; color:#fff;}
*/
/*-------------------------------------------------
BANNER CLASSES
-------------------------------------------------*/
.banner{margin:0 auto;}
.banner-shadows{ background:url(../images/shadows1.png) no-repeat center; width:878px; height:38px;}

/*-------------------------------------------------
BOX CLASSES
-------------------------------------------------*/
.box{ width:420px; float:left; margin-top:40px; padding-bottom:40px;}
.box .title{ background:#523141; border:#603d47 solid 1px; padding:20px 0px 12px 20px; margin-bottom:6px;}
.box .content p{ color:#937a81;}
/*-------------------------------------------------
SERVICES CLASSES
-------------------------------------------------*/
.title2{ background:#d1869b; border:#ffffff solid 1px; padding:6px 0px 20px 20px;}
.title{ background:#d1869b; border:#ffffff solid 1px; padding:20px 0px 20px 20px; margin-bottom:30px;}
.service{ float:left; width:250px; padding-bottom:40px;}
.service img{ padding:6px; background:#fffbfa}
.service .shadows{ background:url(../images/shadows2.png) no-repeat; width:252px; height:20px;}
.service .title{ background:none; border:none; padding:0px; margin-bottom:10px; margin-top:20px;}
.service .title h2{ color:#533c47; font-weight:bold;}
.service .button{ margin-top:34px;}

/*-------------------------------------------------
LEFTCOL CLASSES
-------------------------------------------------*/

.leftcol{ width:570px; float:left;}
.leftcol .title{ background:#523141;}
.leftcol h2{ color:#533c47; font-weight:bold; margin-bottom:20px;}
.leftcol .panel{ border-bottom:#969595 solid 1px; padding-bottom:30px; margin-bottom:30px;}
.leftcol .panel.borderbotm-none{border-bottom:none;}
.leftcol .panelll{ border-bottom:#969595 solid 1px; padding-bottom:10px; margin-bottom:10px;}
.leftcol .panelll.borderbotm-none{border-bottom:none;}
/*-------------------------------------------------
RIGHT CLASSES
-------------------------------------------------*/
.rightcol{ width:260px; float:right;}
.rightcol .title{ background:#523141;}
.content ul li{ list-style:none; border-bottom:#969595 solid 1px; line-height:40px; background:url(../images/arrow.png) no-repeat right;}
.content ul li.borderbotm-none{ border-bottom:none;}
.content ul li a{ text-decoration:none; color:#969595;}
.content ul li a:hover{ color:#d1869b;}

/*-------------------------------------------------
CONTACT FORM CLASSS
-------------------------------------------------*/

.contact-form {padding:30px 30px 30px 0px; width:530px; float:left;}
.contact-form label {display: block; padding:10px 0 10px 0;}
.contact-form label span {display: block; color:#523141;font-size:16px; font-family:'Oswald', sans-serif; float:left; width:80px; text-align:left; padding:5px 20px 0 0;}
.contact-form .input_text {padding:10px 10px;width:400px;background: url(../images/bg1.jpg);border:none; color:#523141;  outline:none;font-family: 'Lato', sans-serif; font-size:15px;}
.contact-form .message{padding:10px 10px;width:400px;background: url(../images/bg1.jpg); border:none;overflow:hidden;height:150px; color:#523141; font-family: 'Lato', sans-serif; font-size:15px; outline:none;}
.contact-form .button{background:#d1869b; text-transform:uppercase; font-family: 'Economica', sans-serif; color:#fff; font-size:20px; border: none; margin-left:100px; margin-top:20px; width:100px; height:40px;}

.address { float:left; width:370px; margin-left:30px;}
.address .panel { border:none; color:#fff}
.address .panel .title h1 {  color:#fff; padding-bottom:10px;}
.address .panel .content p span { color:#fff;}
.address .panel .content p a{ text-decoration:none; color:#ffc01d;}
.address .panel .content p a:hover{color:#fff;}
.address .panelll { border:none; color:#fff}
.address .panelll .title h1 {  color:#fff; padding-bottom:10px;}
.address .panelll .content p span { color:#fff;}
.address .panelll .content p a{ text-decoration:none; color:#ffc01d;}
.address .panelll .content p a:hover{color:#fff;}

/*-------------------------------------------------
FOOTER CLASSES
-------------------------------------------------*/
.footer{ width:880px; margin:0 auto; padding-top:45px; padding-bottom:45px; text-align:center; color:#fff;}
.footer a{ color:#fff; text-decoration:none;}
.footer a:hover{ color:#d1869b;}
.footer a.active{ color:#d1869b;}
.footer span{ color:#d1869b;}

.show_firstpage {
    display:block;
  }
  .none_firstpage {
    display:none;
  }  
  .show_secondpage {
    display:block;
  }
  .none_secondpage {
    display:none;
  }