<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>GIRLS ONLY</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.js" integrity="sha512-Z0dNfC81uEXC2iTTXtE0rM18I3ATkwn1m8Lxe0onw/uPEEkCmVZd+H8GTeYGkAZv50yvoSR5N3hoy/Do2hNSkw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue-icons.common.js" integrity="sha512-1JotZA+Yp2KTsv3oZUMaoStKXHJbfOoOCFIVw6NjNIhbLXRYgPfHlnfCZELZSa7Pl2gERROUiVjn6goWxnh5vA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue-icons.common.min.js" integrity="sha512-+e+Co6xInJyWHIqLkhtaBPxFk+RU1bt/ajG/x5l7UuPiPH9n9gwxmfAtTSkX30JM2dZMoM1KXKjNucsrQrS7cQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue-icons.css" integrity="sha512-ofvNcyNADx27Xw9edhhecFoL1M+QamynjUyIDVrkLYemVgvWpT5jMA4box8FFaH+umvQyGEDAHyv1CGpmP8NGw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.css" integrity="sha512-YnP4Ql71idaMB+/ZG38+1adSSQotdqvixQ+dQg8x/IFA4heIj6i0BC31W5T5QUdK1Uuwa01YdqdcT42q+RldAg==" crossorigin="anonymous" />
    <!----menu--->
    <link rel="stylesheet" href="/css/superfish.css" media="screen">
    <script src="/js/jquery-1.9.0.min.js"></script>
    <script src="/js/hoverIntent.js"></script>
    <script src="/js/superfish.js"></script>
    <script>
        // initialise plugins
        jQuery(function(){
          jQuery('#example').superfish({
            //useClick: true
          });
        });
    </script>
  </head>
  <body>
    <!--NAVBAR-->
    <div class="wrap5">
      <div class="container2">
        <div class="header">
          <div class="logo">
            <h1>GIRLS ONLY</h1>
          </div>
          <div class="menu">
            <ul class="sf-menu" id="example" >
              <li>
                <a href="/uts/" >Home</a>
              </li>
              <li class="current"> 
                <a href="#">FASHION</a>
                <ul>
                  <li> 
                    <a href="/uts/style_trends" >Style & Trends</a> 
                  </li>
                  <li> 
                    <a href="/uts/look_for_less">Look For Less</a> 
                  </li>
                </ul>
              </li>
              <li class="current"> 
                <a href="#">BEAUTY</a>
                <ul>
                  <li> 
                    <a href="/uts/hair">Hair</a> 
                  </li>
                  <li> 
                    <a href="/uts/skin">Skin</a> 
                  </li>
                  <li> 
                    <a href="/uts/make_up">Make Up</a> 
                  </li>
                  <li> 
                    <a href="/uts/healty">Healty</a> 
                  </li>
                </ul>
              </li>
              <li class="current"> 
                <a href="#">CAREER</a>
                <ul>
                  <li> 
                    <a href="/uts/working_life">WORKING LIFE</a> 
                  </li>
                  <li> 
                    <a href="/uts/inspiration">INSPIRATION</a> 
                  </li>
                </ul>
              </li>
              <li> 
                <a href="/uts/all">All NEWS</a> 
              </li>
            </ul>
          </div>
        </div>
        <div class="clearing"></div>
      </div>
      <div class="clearing"></div>
    </div>
    <!---ALL NEWS--->
    <div class="wrap2">
      <div class="container3">
        <!--Skin-->
        <div class="leftcol" id="app">
          <div class="title">
            <h1>Skin</h1>
          </div>
          <div v-for="isi_all in all">
            <div class="panel">
              <div class="content" style="text-align:justify">
                <img :src="isi_all.gambar" alt=""style="height:250px; width:250px; float: left; margin:0 8px 4px 0;">
                <div class="col-md-8">
                  <h2>{{isi_all.title}}</h2>
                  <p>
                    {{isi_all.content}}
                    <br><br>
                    <time class="col-xs-6 ">{{isi_all.tanggal}}</time>
                  </p>
                  <div class=" button" style="float:left;">
                    <a :href="isi_all.link">More Info</a>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
        <!--TRANDING-->
        <div class="rightcol">
          <div class="title">
            <h1>TRANDING</h1>
          </div>
          <div class="panel">
            <div class="content" id="app2">
              <marquee direction="up" height="200" onmouseout ="this.start()" onmouseover = "this.stop()" scrollamount="3" width="100%" >
                <ul v-for="isi_trending in trending">
                  <li>
                    <a :href="isi_trending.link">{{isi_trending.title}}</a>
                  </li>
                </ul>
              </marquee>
            </div>
          </div>
        </div>
        <div class="clearing"></div>  
      </div>
    </div>
    <!---FOOTER--->
    <div class="wrap3">
      <div class="container5">
        <div class="footer"> 
          Copyright (c) 2021 Ermadani Dyah R
          <br>
          <span>193140914111016</span>
          <a target="_blank" class="active">SI4A</a> 
        </div>
        <div class="clearing"></div>
      </div>
    </div>
    <div class="shadows2"></div>
    <script>
      //pemanggilan skin
      var app=new Vue({
        el:"#app",
        data:{
          all:[],
        },
        methods:{
          upDate_all: function() {
              axios.get('http://localhost:5000/uts/all_berita/Skin',{ 
                    headers: { 'auth-token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImVybWFkYW5pX2R5YWgiLCJpYXQiOjE2MTk5NTgwMDR9.3dJKuqip-o4FJ_67jm8st6AzxyNG2TJ8ROgjP-PXyXw' } 
                }).then(response => this.all=response.data);
            },
        },
        mounted() {
            axios.get('http://localhost:5000/uts/all_berita/Skin').then(response => this.all=response.data);
            this.upDate_all();
            this.timer = setInterval(this.upDate_all, 1000)
          }
      });
      //pemanggilan trending
      var app2=new Vue({
        el:"#app2",
        data:{
          trending:[],
        },
        methods:{
          upDate_trending: function() {
              axios.get('http://localhost:5000/uts/trending_berita',{ 
                    headers: { 'auth-token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImVybWFkYW5pX2R5YWgiLCJpYXQiOjE2MTk5NTgwMDR9.3dJKuqip-o4FJ_67jm8st6AzxyNG2TJ8ROgjP-PXyXw' } 
                }).then(response => this.trending=response.data);
            },
        },
        mounted() {
            axios.get('http://localhost:5000/uts/trending_berita').then(response => this.trending=response.data);
            this.upDate_trending();
            this.timer = setInterval(this.upDate_trending, 1000)
          }
      })
    </script>
  </body>
</html>
